# modify file's name to .env 
DB_NAME=postgres
DB_USER=postgres.rywuleksgmurmnfirmvo
DB_PASSWORD=cs5500@group7
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=6543
DB_SSLMODE=require
SUPABASE_JWT_SECRET=/q+jtPA9JFn+kU7ht66oXcfkylUyaJfjASz4anHy5BB7LFJh40tl/p1Xfwx2nrKpOZVou9PSKR4OC8NEqgiq6g==